<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ng-container *ngIf="!todos || todos.length == 0">
          <div *ngFor="let n of [0,1,2]" padding>
           <!-- <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="text-skeleton"></ion-skeleton-text>
            </p> -->
          </div>
        </ng-container>
        <ion-list *ngFor="let todo of todos" >
          <ion-item button > <!--[routerLink]="['/details', todo.id]"-->
            {{ todo.priority }}
           <!-- <ion-note slot="end" color="primary"></ion-note>-->
          </ion-item>

          <button ion-button (click)="gotoDetails(todo)" block>
           Editar   
            
          </button>
     
          <ion-item-options side="end">
           <!-- <ion-item-option (click)="remove(item)" color="secondary">
              Check
              <ion-icon name="checkmark" slot="end"></ion-icon>
            </ion-item-option>-->
          </ion-item-options>
        </ion-list>
      </ion-list>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <button ion-button [navPush]="details">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>-->
</ion-content>
